.stocks {
	&__wrapper {
		margin-top: 30px;
	}
	&__list {
		display: flex;
	}
	&__item {
		list-style-type: none;
		height: 343px;
		width: 300px;
		border-radius: 12px;
		margin-right: 30px;
		&:last-child {
			margin-right: 0px;
		}
	}
}