@import '../../scss/variables.scss';

.section-products {
	margin-top: 45px;
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-size: 40px;
		line-height: 48px;
		font-weight: 600;
		font-family: 'Inter';
	}
	&__filters-btn {
		border: 1px solid $grey;
		background: #fff;
		border-radius: 6px;
		min-width: 126px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s all;
		&:hover {
			cursor: pointer;
			border: 1px solid $orange-color;
			transition: 0.2s all;
		}
	}
	&__filters-icon {
		margin-right: 8px;
	}
}