@import '../../scss/variables.scss';

.message {
	&__list {
		position: fixed;
		top: 0;
		right: 500px;
		z-index: 30;
	}
	&__item {
		margin-top: 10px;
		position: relative;
		background: $orange-color;
		color: #fff;
		padding: 10px 20px;
		border-radius: 6px;
	}
	&__close {
		position: absolute;
		width: 10px;
		height: 10px;
		top: 4px;
		right: 4px;
		&:hover {
			cursor: pointer;
		}
	}
}