.header-menu {
	display: grid;
	grid-template-columns: 141px 1fr 89px;
	height: 64px;
	align-items: center;
	&__logo-wrapper {
		display: flex;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}
	&__logo {
		margin-right: 12px;
	}
	&__company-name {
		font-size: 16px;
	}
	&__cart-btn {
		height: 40px;
		min-width: 89px;
		border: 0px;
		background: #FF7010;
		border-radius: 4px;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s all;
		&__icon {
			margin-right: 8px;
		}
		&:hover {
			cursor: pointer;
			background: #000;
			transition: 0.2s all;
		}
	}
}