@import '../../../scss/variables.scss';

.header-menu {
	display: grid;
	grid-template-columns: 141px 1fr 89px;
	min-height: 64px;
	align-items: center;
	&__logo-wrapper {
		display: flex;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}
	&__logo {
		margin-right: 12px;
	}
	&__company-name {
		font-size: 16px;
	}
	&__cart-btn {
		height: 40px;
		min-width: 89px;
		border: 0px;
		background: $orange-color;
		border-radius: 4px;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s all;
		&__icon {
			margin-right: 8px;
		}
		&:hover {
			cursor: pointer;
			background: #000;
			transition: 0.2s all;
		}
	}
	&__list {
		display: flex;
		justify-content: flex-start;
		li {
			list-style-type: none;
			margin-left: 32px;
			&:first-child {
				margin-left: 64px;
			}
		}
		&__item {
			list-style-type: none;
			font-size: 16px;
			line-height: 22px;
			font-weight: 400;
			text-decoration: none;
			color: #000;
			&_active {
				color: $orange-color;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}