@import '../../scss/variables.scss';

.footer {
	&__section {
		margin-top: 60px;
		background: #fff;
		padding: 32px;
	}
	&__logo-wrapper {
		display: flex;
		align-items: center;
		color: #000;
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
	}
	&__logo {
		margin-right: 12px;
	}
	&__company-name {
		font-size: 16px;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		align-items: flex-start;
	}
	&__title {
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
	}
	&__list {
		&__item {
			list-style-type: none;
			font-size: 16px;
			line-height: 22px;
			font-weight: 400;
			margin-top: 20px;
			transition: 0.1s all;
			&:hover {
				cursor: pointer;
				color: $orange-color;
				transition: 0.1s all;
			}
		}
	}
}
