@import '../../scss/variables.scss';

$border-radius: 12px;

.card {
	list-style-type: none;
	width: 100%;
	border-radius: $border-radius;
	border: 1px solid $grey;
	background: #fff;
	min-height: 300px;
	position: relative;
	&__img {
		&__wrapper {
			max-height: 300px;
			width: 100%;
		}
		display: block;
		margin: 0 auto;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		width: 100%;
		height: 100%;
	}
	&__desc {
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
	&__info {
		margin-top: 8px;
		font-size: 16px;
	}
	&__composition {
		display: block;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		margin-top: 12px;
	}
	&__product-name {
		display: block;
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;
	}
	&__footer {
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__btn {
		width: 131px;
		height: 48px;
	}
	&__price {
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;
		color: $orange-color;
	}
}