@import url('./fonts.scss');
@import url('./btn.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: #F9F9F9;
	font-family: 'SFPro-Display', 'Inter', sans-serif;
}

.body-overflow-hidden {
	overflow: hidden;
}

.container {
	width: 1290px;
	margin: 0 auto;
}